.chat{
    flex: 0.70;
}

.chat-container{
    display: flex;
    flex-direction: column;
    background-color: #fbfbfc;
}

.chat-header{
    display: flex;
    flex-direction: row;
    padding: 1vh;
    justify-content: space-between;
    align-items: center;
    background-color: #eff2f5;
}

.chat-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

p{
    font-size: small;
}
 
.chat-messages{
    display: inline-block;
    height: 83vh;
    width: 100%;
    flex: 1;
    background-color:#efeae2;
    overflow-y: scroll;
}

.chatbar{
    display: flex;
    flex-direction: row;
    padding: 1vh 1vh;
    justify-content: space-between;
    align-items: center;
    background-color: #eff2f5;
}

.chatbar-left{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.chatbar > input{
    border: none;
    outline: none;
    width: 100%;
    background-color:white;
    padding: 1vw;
    padding-right:50vw;
    border-radius: 5px;
    margin: 0 5px;
}