.message{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 1vw;
    padding: 1vh;
    border-radius: 8px;
    width:fit-content;
}

.person-name{
    font-weight: bold;
    padding: 0.5vh;
    margin-bottom:2px;
    color: #d1adea;
}

.message-content{
    font-size: small;
    padding-left: 0.5vh;
    margin-right:1vw;
}

.message-time{
    margin-bottom:2vw;
    /* padding: 0.1vw; */
    font-size: 0.5vw;
}

.message-recieved{
    background-color: #f7e99f;

}
