.sidebar-container{
    display: flex;
    flex-direction: column;
    flex: 0.31;
    display: hidden;
    background-color:#fbfbfc;
}

.sidebar_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eff2f5;
    padding: 1vw;
    border-right:2px solid #d1d7db;
}

.sidebar-header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    
